Django==6.0.7
gunicorn==26.0.0
Markdown==3.10
bleach==6.3.0
Pillow==12.2.0
python-dotenv==1.2.1
django-auth-ldap==5.2.0
psycopg[binary]==3.3.2

pyotp==2.9.0

qrcode[pil]==8.2
cryptography>=42.0.0
redis>=5.0.0,<7.0.0
celery[redis]==5.6.3
