{% load i18n kb_nav %}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">{% trans "Knowledge Repository" %}</a>
        </div>


        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Article" %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'suggest' %}"><i class="fa fa-plus"></i> {% trans "New" %}</a></li>
                            <li><a href="{% url 'edit_my_suggestions' %}"><i class="fa fa-pencil"></i> {% trans "Edit" %}</a></li>
                            {% if user|is_site_admin %}
                                <li><a href="{% url 'manage_pending_articles' %}"><i class="fa fa-check-square-o"></i> {% trans "Manage pending articles" %}</a></li>
                                <li><a href="{% url 'manage_orphan_articles' %}"><i class="fa fa-user-times"></i> {% trans "Scan orphan articles" %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if user|is_site_admin %}
                        <li><a href="/admin/">{% trans "Admin" %}</a></li>
                    {% endif %}
                    {% include "_language_selector.html" %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Logged in as" %} {{ user.get_full_name|default:user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> {% trans "My Profile" %}</a></li>
                            <li>
                                <form method="post" action="{% url 'logout' %}" class="navbar-logout-form">
                                    {% csrf_token %}
                                    <button type="submit" class="navbar-logout-button">
                                        <i class="fa fa-sign-out"></i> {% trans "Logout" %}
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    {% include "_language_selector.html" %}
                    <li><a href="{% url 'login' %}">{% trans "Login to contribute" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
