{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en' }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
    <title>{% trans "MFA verification" %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="{% static 'stylesheets/flatly.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" />
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'stylesheets/csp-template.css' %}">
</head>
<body class="show_footer">
<div class="container-fluid">
    <div class="container-fluid openkb-page-back-wrap">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <form method="post" action="{% url 'mfa_cancel' %}" class="csp-inline-form">
                    {% csrf_token %}
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-arrow-left"></i> {% trans "Back" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4 mfa-verify-wrap">
        <form class="form-signin" method="post" action="{% url 'mfa_verify' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <h2 class="form-signin-heading mfa-heading-spacing">{% trans "MFA verification" %}</h2>
            <p class="text-muted mfa-description-spacing">{% trans "Please enter your MFA/OTP code to continue." %}</p>

            {% for message in messages %}
                <div class="alert alert-{{ message.tags|default:'info' }}">{{ message }}</div>
            {% endfor %}

            <div class="form-group">
                <label class="sr-only" for="id_code">{% trans "MFA/OTP code" %}</label>
                <input id="id_code" name="code" class="form-control" placeholder="{% trans 'Enter MFA/OTP code' %}" inputmode="numeric" pattern="[0-9 ]*" autocomplete="one-time-code" required autofocus>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                <i class="fa fa-lock"></i> {% trans "Verify" %}
            </button>
        </form>

        <form method="post" action="{% url 'mfa_cancel' %}" class="mfa-cancel-form">
            {% csrf_token %}
            <button class="btn btn-default btn-block" type="submit">
                <i class="fa fa-arrow-left"></i> {% trans "Back" %}
            </button>
        </form>
    </div>
</div>
{% include "_footer.html" %}
</body>
</html>
