{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en' }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
    <title>{% trans "Delete article" %}</title>
    <meta property="og:title" content="Delete article" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Powered by openKB">
    <meta name="keywords" content="openKB">
    <link rel="stylesheet" href="{% static 'stylesheets/flatly.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" />
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'javascripts/openKB.js' %}"></script>
    <style>
        .navbar-logout-form { display: block; margin: 0; }
        .navbar-logout-button {
            display: block;
            width: 100%;
            background: transparent;
            border: 0;
            padding: 15px;
            line-height: 20px;
            color: #777;
            text-align: left;
        }
        .navbar-logout-button:hover,
        .navbar-logout-button:focus { color: #333; background-color: transparent; outline: none; }
    </style>
</head>
<body class="">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">{% trans "Toggle navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">{% trans "Knowledge Repository" %}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Article" %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'suggest' %}"><i class="fa fa-plus"></i> {% trans "New" %}</a></li>
                            <li><a href="{% url 'edit_my_suggestions' %}"><i class="fa fa-pencil"></i> {% trans "Edit" %}</a></li>
                        </ul>
                    </li>
                    {% if user.is_staff %}<li><a href="/admin/">{% trans "Admin" %}</a></li>{% endif %}
                    {% include "_language_selector.html" %}
                    <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Logged in as" %} {{ user.get_full_name|default:user.username }} <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> {% trans "My Profile" %}</a></li>
                                    <li>
                                        <form method="post" action="{% url 'logout' %}" style="margin:0;">
                                            {% csrf_token %}
                                            <button type="submit" style="display:block;width:100%;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap;text-align:left;background:transparent;border:0;">
                                                <i class="fa fa-sign-out"></i> {% trans "Logout" %}
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3" style="padding-top: 50px;">
            <div class="panel panel-danger">
                <div class="panel-heading">{% trans "Delete suggested article" %}</div>
                <div class="panel-body">
                    <p>{% trans "Are you sure you want to delete" %} <strong>{{ article.title }}</strong>?</p>
                    <p class="text-muted">{% trans "This removes the profile record and deletes the Markdown files from OpenKB raw/source storage." %}</p>
                    <form method="post" action="{% url 'delete_suggestion' article.id %}">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">{% trans "Delete" %}</button>
                        <a class="btn btn-default" href="{% url 'profile' %}">{% trans "Cancel" %}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="input_notify_message" value="{% for message in messages %}{% if forloop.first %}{{ message }}{% endif %}{% endfor %}">
    <input type="hidden" id="input_notify_message_type" value="{% for message in messages %}{% if forloop.first %}{{ message.tags|default:'success' }}{% endif %}{% endfor %}">
    <input type="hidden" value="" id="app_context">
    <input type="hidden" value="true" id="blank_links">
    <div id="notify_message"></div>
</body>
</html>
