{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en' }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
    <title>{% trans "Delete article" %}</title>
    <meta property="og:title" content="{% trans 'Delete article' %}" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="{% trans 'Powered by openKB' %}">
    <meta name="keywords" content="openKB">
    <link rel="stylesheet" href="{% static 'stylesheets/flatly.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" />
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'javascripts/openKB.js' %}"></script>
</head>
<body class="">
    {% include "_navbar.html" %}
{% include "_page_back_button.html" %}
<div class="container-fluid">
        <div class="col-md-6 col-md-offset-3" style="padding-top: 50px;">
            <div class="panel panel-danger">
                <div class="panel-heading">{% trans "Delete article" %}</div>
                <div class="panel-body">
                    <p>{% blocktrans with title=article.title %}Are you sure you want to delete <strong>{{ title }}</strong>?{% endblocktrans %}</p>
                    {% if requires_mfa %}
                        <div class="alert alert-warning">
                            {% trans "This article is already published. This action cannot be reversed. Confirm using your MFA/OTP code." %}
                            {% if article.has_pending_update %}
                                <br>{% trans "This article also has a pending update, but it is still treated as a published article." %}
                            {% endif %}
                        </div>
                    {% else %}
                        <p class="text-muted">{% trans "This action cannot be reversed." %}</p>
                    {% endif %}
                    <form method="post" action="{% url 'delete_suggestion' article.id %}">
                        <input type="hidden" name="next" value="{{ return_url|default:'' }}">
                        {% csrf_token %}
                        {% if requires_mfa %}
                            <div class="form-group">
                                <label for="deleteMfaCode">{% trans "MFA/OTP code" %}</label>
                                <input id="deleteMfaCode" class="form-control" name="mfa_code" inputmode="numeric" autocomplete="one-time-code" placeholder="{% trans 'Enter your 6-digit code' %}" required>
                                <p class="help-block">{% trans "Enter your MFA/OTP code to confirm this deletion." %}</p>
                            </div>
                        {% endif %}
                        <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> {% trans "Delete article" %}</button>
                        <a class="btn btn-default" href="{{ return_url|default:'' }}">{% trans "Cancel" %}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="input_notify_message" value="{% for message in messages %}{% if forloop.first %}{{ message }}{% endif %}{% endfor %}">
    <input type="hidden" id="input_notify_message_type" value="{% for message in messages %}{% if forloop.first %}{{ message.tags|default:'success' }}{% endif %}{% endfor %}">
    <input type="hidden" value="" id="app_context">
    <input type="hidden" value="true" id="blank_links">
    <div id="notify_message"></div>
    {% include "_footer.html" %}
</body>
</html>
